<section class='account'>
<h1> ACCOUNT </h1>
<table>
<tr>
  <th>Login</th>
  <th><%= current_user.login %></th>
</tr>
<tr>
  <th>Name</th>
  <th><%= current_user.name %></th>
</tr>
<tr>
  <th>Lastname</th>
  <th><%= current_user.lastname %></th>
</tr>
<tr>
  <th>Email</th>
  <th><%= current_user.email %></th>
</tr>

</table>
<div class='avatar'>
<%= image_tag(current_user.avatar) if current_user.avatar.attached? %>
</div>
<div class='center'>
<%= link_to 'Edit', edit_user_registration_path, :class => 'btn' %> 
<%= link_to 'Delete account', user_registration_path , method: :delete, data: { confirm: "You sure? All posts will be permanently deleted with Your account " }, :class => 'btn btn-red btn-anime' %>
</div>
<div>
<h1>Your Posts</h1>
<table>
<% current_user.posts.each do |post| %>

      <div class='post-single'>
        <div class='title-post'><%= post.title %></div>
        <div class='content-post'><%= post.content.first(200) + '...' %></div>
        <div class='account-buttons'>
        <%= link_to 'Read more ', post, :class => 'btn' %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-red btn-anime' %>
        <%= link_to 'Edit', edit_post_path(post.id), :class => 'btn' %>
        </div>
      </div>
<% end %>
</table>
</div>
</div>
