
<section class='admin-panel'>
<H1> Users on Your webside </h1>
<div class='permition-table'>
<table>
<% @users.each do |user| %>
  <tr>
    <td class='title-main'><%= user.name.capitalize %></td>
   <td> <%= link_to 'Destroy', user, :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-red btn-anime' %> </td>
    <td><%= link_to 'Edit', edit_user_path(user.id), controller: :edit_admin, :class => 'btn' %>  </td>
    <td> Admin ? =>   
    <%= user.admin ? 'Yes' : 'No' %>
    </td>
  </tr>
<% end %>
</table>
</div>
<h1> Posts on Your webside </h1>
<table>
  <thead>
    <tr>
    <th colspan="3"></th>
    </tr>
  </thead>
    <tr style= 'text-align: center;'>
    <td style= 'width: 200px;'>Tytul postu</td>
    <td style= 'width: 150px;'> Autor </td>
    <td> Action </td>
  </tr>

<% @posts.each do |post| %>
  <tr class='post-single'>
    <td class='title-main'><%= post.title.capitalize %></td>
    <td class='autor-post'><%= post.user.name.capitalize %></td>
    <td><%= link_to 'Czytaj wiecej', post, :class => 'btn' %>
    <%= link_to 'Edit', edit_post_path(post), :class => 'btn' %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-red btn-anime' %>
  </td>
  </tr>
 
<% end %>
</table>
</section>