<%= form_with(model: post, local: true) do |form| %>

<% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>
  <%= form.label :Content %>
   <%= form.text_area :content,  :class => "tinymce" %>
<%= tinymce %>
<div class='photos'>
  <%= form.label :photos %>
  <%= form.file_field :photos %>
</div><br>
<div class="actions">
  <%= form.submit({:class => 'btn btn-submit'}) %>
</div>
<% end %>
