
<div class='post-list'>
  <h1>Posts</h1>
    <table>
      <thead>
        <tr>
        <th colspan="3"></th>
        </tr>
       </thead>
    <% @posts.each do |post| %>
      <div class='post-single'>
        <div class='title-post'><%= post.title %></div>
        <div class='content-post'><%= post.content.first(200) + '...' %><%= link_to '...Read more', post, :class => 'btn btn-small' %> </div>
        <div class='autor-date'>
        <div class='autor-post'>Autor <%= post.user.name.capitalize %></div>
        <div class='post-date'>Last Update <%= post.updated_at.time.to_date %></div>
        </div>
        </div>
    <% end %>
  </table>
</div>