
<section class='post post-single post-page'>
<div class='avatar'>
  
<%= image_tag(@post.user.avatar) if @post.user.avatar.attached? %>


</div>
<div class='title-post'>
    <%= @post.title.html_safe %>
</div>
<div class='content-post'>
    <%= @post.content.html_safe %>
</div>
<div>

<%= image_tag(@post.photos) if @post.photos.attached? %>
</div>
</section>

<%= link_to 'Back', posts_path, :class => 'btn' %>

<% if user_signed_in? %>
<% if current_user.id == @post.user.id%>
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn' %> 
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-red btn-anime' %>
<% end %>
<% end %>
