
body{
	margin: 0px;
	background-color: dimgrey;
}
* {
	box-sizing: border-box;
  }
.alert-danger{
	text-align: center;
  position: fixed;
  background: #ff4747;
  font-size: 30px;
  right: -1000px;
  bottom: 25px;
  animation-name: notice;
	animation-duration: 4s;
	border-radius: 40px 0 0 40px;
  padding: 10px;
  border-color: black;
	border-bottom-style: inset;
	animation-delay: 1s;
}
.alert-success{
	background: #40a21e;
	text-align: center;
  position: fixed;
  font-size: 30px;
  right: -1000px;
  bottom: 25px;
  animation-name: notice;
	animation-duration: 4s;
	border-radius: 40px 0 0 40px;
  padding: 10px;
  border-color: black;
	border-bottom-style: inset;
	animation-delay: 1s;
}
.alert-notice{
	background: #40a21e;
	text-align: center;
  position: fixed;
  font-size: 30px;
  right: -1000px;
  bottom: 25px;
  animation-name: notice;
	animation-duration: 4s;
	border-radius: 40px 0 0 40px;
  padding: 10px;
  border-color: black;
	border-bottom-style: inset;
	animation-delay: 1s;
}
#notice{
	background: #40a21e;
	text-align: center;
  position: fixed;
  font-size: 30px;
  right: -1000px;
  bottom: 0px;
  animation-name: notice;
	animation-duration: 4s;
	border-radius: 40px 0 0 40px;
  padding: 10px;
  border-color: black;
	border-bottom-style: inset;
	animation-delay: 1s;
}
@keyframes notice {
	0%   {right: -1000px;}
	20%   {right: 0px;}
	30%   {right: 0px;}
	80%  {right: 0px;}
	100%   {right: -1000px;}
  }

// HEADER - Menu

#menu_welcome{
	position: relative;
	color: white;
	margin: auto;
	padding-top: 14px;
	padding-right: 14px;
	padding-left: 5px;
}
.user_welcome{
	background-color: #333;
  width: auto;
  right: 0px;
  height: 50px;
  position: absolute;
	text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
	padding: 0;
  overflow: hidden;
	background-color: #333;
	height: 50px;
	li {
		float: left;
		a {
			display: block;
			color: white;
			text-align: center;
			padding: 15px 16px;
			text-decoration: none;
		  }
		  a:hover {
			background-color: #111;
			transition-duration: 1s;
		  }
	  }
}
.user_welcome a:hover{
	background-color: #fe1a00;
  }

// FOOTER

// main page

.container{
	max-width: 1200px;
	margin: auto;
  top: 50px;
  bottom: 0px;
  width:100%;
}
.content{
	min-height: calc(100vh - 50px);
	background-color: darkgray;
	padding: 15px;
	h1 {
		text-align: center;
	}
}

// POSTS

.post-single{
	padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  border: 0;
  border-bottom: 1px black;
  border-style: solid;

	
	.title-post{
		width: 15%;
		text-align: center;
		font-size: 24px;
	}
	.content-post{
		width: 75%;
		padding-right: 5px;
	}
	.autor-date{
		display: flex;
		flex-flow: row-reverse;
		.autor-post{
			text-align: center;
			margin: auto;
		}
		.post-date{
			width: 100px;
			margin: auto;
		}
	}
}
.post-page{
	flex-flow: row wrap;
  display: flex;
	position: relative;
	border-radius: 5px 48px 5px 5px;
	.avatar{
		position: absolute;
		right: 0px;
		border-radius: 67px;
		width: 100px;
		height: 100px;
		background-image: image-url('emptyattached.png');
		background-size: cover;
		img{
      position: relative;
			height: 100px;
			width: 100px;
			border-radius: 100%;
      }
	}
	.title-post{
		height: 100px;
		width: calc(100% - 50px);
		border-radius: 5px 0;
		padding-top: 25px;
	}
	.content-post{
		padding: 10px;
		width: 100%;
	}
}

//Account
.account{
	table{
		border: 1px solid black;
		border-collapse: collapse;
		margin: auto;
		width: 40%;
	
		tr{
			border: 1px solid black;
			border-collapse: collapse;		
		}
	}
	.avatar{
		position: relative;
		right: 0px;
    top: -96px;
		border-radius: 67px;
		width: 100px;
		height: 100px;
		background-image: image-url('emptyattached.png');
		background-size: cover;
		img{
      position: relative;
			height: 100px;
			width: 100px;
			border-radius: 100%;
      }
	}	
	.post-single{
		.content-post{
			width: 56%;
		}
	}
}
// Admin
.admin-panel{
	table{
		.post-single{
			display: table-row;
		}
	}
	
}

// Buttons

.btn{
	box-shadow:inset 0px 1px 0px 0px #93a4f2;
	background:linear-gradient(to bottom, #3f60f5f1 5%, #5250f0 100%);
	background-color:#3f60f5f1;
	border-radius:6px;
	border:1px solid #3f60f5f1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3542b2;
	margin-left: 4px;
}
.btn:hover {
	background:linear-gradient(to bottom, #5250f0 5%, #3f60f5f1 100%);
	background-color:#3f60f5f1;
}
.btn:active {
	position:relative;
	top:1px;
}

.btn-red{
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border:1px solid #d83526;
	text-shadow:0px 1px 0px #b23e35;
}
.btn-red:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.btn-small{
	width: 107px;
    font-size: 12px;
    padding: 8px 15px;
}
.btn-anime:hover{
	text-shadow: 0px 1px 0px #b23d3500;
	color: transparent;
	transition-duration: 400ms;
	position: relative;
}
.btn-anime:hover:before{
	right: calc(50% - 5px);
  content: '';
  top: 2px;
  width: 4px;
  height: 28px;
  background-color: #313030;
  position: absolute;
  transform: rotate(45deg);
	transition-duration: 1s;
	border-radius: 15px;
	animation-name: delete;
	animation-duration: 700ms;

}
.btn-anime:hover:after{
	content: '';
  width: 4px;
  height: 28px;
  background-color: #313030;
  position: absolute;
  transform: rotate(-45deg);
  transition-duration: 400ms;
  top: 2px;
	right: calc(50% - 5px);
	border-radius: 15px;
	animation-name: delete2;
	animation-duration: 700ms;
} 
@keyframes delete {
	0%   {transform: rotate(180deg);}
	100%   {transform: rotate(45deg);}
  }
  @keyframes delete2 {
	0%   {transform: rotate(-180deg);}
	100%   {transform: rotate(-45deg);}
  }
// Pages with posts

.post{
	min-height: 170px;
	background-color:  #b9b9b9;
	.title-post{
		font-size: 38px;
		font-weight: bold;
		background-color: #8f8f8f;
	}
	.content-post{
	}
}
.title-main{
	font-size: 28px;
}
.center{
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 15px;
}