// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-post{
    display:flex;
    flex-flow: column;
    ul, ol{
        display: flex;
        flex-flow: column;
    }
}