<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About Site", about_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
  <li><%= link_to "Projects", projects_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to 'New Post', new_post_path %></li>
    <li><%= link_to "Account ", account_path %></li>
  <div class='user_welcome'> 
  <% if current_user.admin == true %>
    <li><%= link_to "Admin Panel ", admin_panel_path, :id => 'adminStatus' %></li>
  <% end %>
    <li><%= link_to 'Logout ', destroy_user_session_path, method: :delete %></li>
    <li id='menu_welcome'>Welcome <%= current_user.name.capitalize %> </li>
  </div>
  <% else %>
    <li><%= link_to 'Login ', user_session_path %></li>
    <li><%= link_to 'Registration', new_user_registration_path %></li>
  <% end %>
</ul>
