<!DOCTYPE html>
<html>
  <head>
    <title>Firstblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', ' -turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="lib/noty.css" rel="stylesheet">
    <script src="lib/noty.js" type="text/javascript"></script>
     <%= tinymce_assets %>
  </head>
<body>
<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<%= render 'layouts/header'%>

  <div class='container'>
  <div class='content'>
  <%= yield %>
  </div>
  </div>
<%= render 'layouts/footer'%>
</body>
</html>
