<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.label :login, 'login' %><br />
    <%= f.text_field :login, autofocus: true, autocomplete: "login" %>
  </div>
  <div class="field">
    <%= f.label :name, 'Name'%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
   <div class="field">
    <%= f.label :lastname, 'Lastname' %><br />
    <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <br>
  <div class='avatar'>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Update " , :class => 'btn' %>
  </div>
<% end %>


<%= link_to "Back", :back  , :class => 'btn btn-red'%>
