<h2>Do You want add admin permition to <%= @user.name %> <%= @user.lastname %> / <%= @user.login %>   <h2>

<%= form_with(model: @user, local: true) do |f| %>

<div class="field">
    <%= f.label :admin , 'Admin permit?' %>
    <%= f.check_box :admin %>
  </div><br>
  <div class="actions">
    <%= f.submit "Update", :class => 'btn'  %>
  </div>

<% end %>



<%= link_to "Back", :back, :class => 'btn btn-red'  %>