<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 <div class="field">
    <%= f.label :login, 'login' %><br />
    <%= f.text_field :login, autofocus: true, autocomplete: "login" %>
  </div>
  <div class="field">
    <%= f.label :name, 'Name'%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
   <div class="field">
    <%= f.label :lastname, 'Lastname' %><br />
    <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

 <div class="field">
    <%= f.label :admin, 'Admin Permit?' %><br />
    <%= f.check_box :admin, autofocus: false %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
